// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book-title, .book-body {
	margin-bottom: 10px;
	width: 100%;
}


.book-submit {
	width: 100%;
}
