// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-setting {
	width: 100%;
}


.user-image {
	width: 100px;
	height: 100px;
}

.user-image-mini {
	width: 40px;
	height: 40px;
}